@{
    ViewBag.Title = "Employee Attendance Report";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<style type="text/css">
    .Mandatory {
        color: red;
        font-weight: bold;
    }
</style>
<div class="row top-head">
    <div class="col-md-12"><p><b><a style="color:#fff;" href="~/Dashboard/HRDashboard">HR </a> >>Employee Attendance Report </b></p></div>
</div>
<section>
    <form action="#" id="frmAddEditEmployee" class="form-horizontal as" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <div class="row inner">
            <div class="message">

            </div>
            <div class="col-md-12 ftop">
                <div class="form-group col-md-6">
                    <label for="ddlMonth" class="col-sm-4 control-label">Month&nbsp;<span class="Mandatory">(*)</span></label>
                    <div class="col-sm-8">
                        <select id="ddlMonth" name="ddlMonth" tabindex="2" class="form-control">
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <input id="hdnMonth" type="hidden" value="0" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="ddlYear" class="col-sm-4 control-label">Year&nbsp;<span class="Mandatory">(*)</span></label>
                    <div class="col-sm-8">
                        <select id="ddlYear" name="ddlYear" tabindex="2" class="form-control">                           
                            
                        </select>
                        <input id="hdnYear" type="hidden" value="0" />
                    </div>
                </div>
            </div>

            <div class="row col-sm-12 col-lg-12 col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <center>
                        <a class="btn btn-success" tabindex="9" href="#" id="lnkGenerateReport" onclick="OpenPrintPopup()">Generate Report</a>
                        @*<input class="btn btn-success" value="Generate Report" alt="Generate Report" tabindex="3" id="btnSearch" onclick="GenerateCandidateReport()" type="button" border="0">*@&nbsp;&nbsp;
                        <input class="btn btn-success" type="button" id="btnReset" tabindex="4" onclick="ClearFields()" value="Reset" /> &nbsp;&nbsp;
                    </center>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="alertModel" role="dialog">
            <div class="modal-dialog  modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modelHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modelText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary  btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!--Print Modal -->
        <div class="modal fade" id="printModel" role="dialog">
            <div class="modal-dialog  modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Employee Attendance</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ddlPrintOption" class="col-sm-4 control-label">Report Option</label>
                            <div class="col-sm-8">
                                <select id="ddlPrintOption" name="ddlPrintOption" onchange="ShowHidePrintOption()" tabindex="1" class="form-control">
                                    <option selected="selected" value="PDF">PDF</option>
                                    <option value="Excel">Excel</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success" target="_blank" href="#" id="btnPdf">Print</a>
                        <a class="btn btn-success" style="display:none;" target="_blank" href="#" id="btnExcel">Print</a>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                    </div>
                </div>

            </div>
        </div>
    </form>
</section>
<script src="~/Scripts/EmployeeAttendance/PrintEmployeeAttendanceReport.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>
@*<script>
            $( document ).ready(function() {
                document.getElementById("txtEmployeeName").focus();
        });
    </script>*@
