@{
    ViewBag.Title = "Add Country";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<style>
    .Mandatory {
        color: red;
        font-weight: bold;
    }
</style>
<div class="row top-head">
    <div class="col-md-12"><p><b><a style="color:#fff;" href="~/Company/SuperAdminDashboard">Control Panel</a> >> Add/Edit Country </b></p></div>
</div>
<section>
    <form action="#" id="frmAddEditCountry" class="form-horizontal as" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <div class="row inner">
            <div class="message">

            </div>
            <div class="col-md-12 ftop">
                <div class="form-group col-md-6">
                    <label for="txtCountryName" class="col-sm-4 control-label">Country Name&nbsp;<span class="Mandatory">(*)</span></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="txtCountryName" name="txtCountryName" tabindex="1" placeholder="Enter Country Name" type="text" maxlength="150" />
                        <input id="hdnCountryID" type="hidden" value="@ViewData["countryId"]" />
                        <input id="hdnAccessMode" type="hidden" value="@ViewData["accessMode"]" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="txtCountryCode" class="col-sm-4 control-label">Country Code&nbsp;<span class="Mandatory">(*)</span></label>
                    <div class="col-sm-8">
                        <input id="txtCountryCode" name="txtCountryCode" tabindex="2" type="text" placeholder="Enter Country Code" maxlength="10" class="form-control alpha-only" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label for="txtstatus" class="col-sm-4 control-label">Status&nbsp;<span class="Mandatory">(*)</span></label>
                    <div class="col-sm-8">
                        <input id="chkstatus" name="chkstatus" type="checkbox" checked="checked" tabindex="3" />
                    </div>  
                </div>
            </div>
            <div class="row col-sm-6 col-lg-12 col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <center>
                        <input class="btn btn-success" value="Save" alt="Save" id="btnSave" tabindex="4" onclick="SaveData(1)" type="button" border="0"> 
                        <input class="btn btn-success" value="Update" style="display:none;" tabindex="4" alt="Update" id="btnUpdate" onclick="SaveData(2)" type="button" border="0"> 
                        <a class="btn btn-success" tabindex="6" id="btnList" href="@Url.Content("~/Country/AddEditCountry")">Reset</a>
                        @*<input class="btn btn-success" type="button" id="btnReset" tabindex="5" onclick="ClearFields()" value="Reset" /> &nbsp;&nbsp;*@
                        @*<input class="btn btn-success" type="button" id="btnList" value="Search Company" />*@
                        <a class="btn btn-success" tabindex="6" id="btnList" href="@Url.Content("~/Country/ListCountry")">Search Country</a>
                    </center>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="alertModel" role="dialog">
            <div class="modal-dialog  modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modelHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modelText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary  btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</section>
<script src="~/Scripts/Country/AddCountry.js"></script>