@model List<Portal.Core.ViewModel.HR_ClaimTypeViewModel>
<style>
    .table th {
        background: rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0;
    }

    .table th {
        color: #ffffff;
        text-align: center;
    }

    .table tr {
        text-align: center;
    }

    table tr:nth-child(2n+1) {
        background-color: #dff0d8;
    }

    table tr:nth-child(2n) {
        background-color: #dff0d8;
    }
</style>
<script src="~/Scripts/jquery.tablesorter.js"></script>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblProductTypeList">
            <thead>
                <tr>
                    <th>Claim Type Name</th>
                    <th>Claim Type Code</th>
                    <th>Status</th>
                    <th colspan="2" align="center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td>@item.ClaimTypeName</td>
                        <td>@item.ClaimNature</td>
                        <td>@(item.ClaimType_Status == true?"Active":"Inactive")</td>
                        <td class="btn btn-success table_btn" style="width:30px; margin:0px auto;">
                            <a style="color:white;text-decoration:none" title="View"  class="fa fa-eye" aria-hidden="true" href="~/ClaimType/AddEditClaimType?ClaimTypeId=@item.ClaimTypeId&AccessMode=3"></a>
                        </td>
                        <td class="btn btn-success table_btn" style="width:30px; margin:0px 2px auto;">
                            <a style="color:white;text-decoration:none" title="Edit" class="fa fa-pencil-square-o" href="~/ClaimType/AddEditClaimType?ClaimTypeId=@item.ClaimTypeId&AccessMode=2"></a>
                        </td>

                    </tr>
                }
              
            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblProductTypeIdList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>