@{
    ViewBag.Title = "Add State";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<style>
    .Mandatory {
        color: red;
        font-weight: bold;
    }
</style>
<div class="row top-head">
    <div class="col-md-12"><p><b><a style="color:#fff;" href="~/Company/SuperAdminDashboard">Control Panel</a> >> Add/Edit State </b></p></div>
</div>
<section>
    <form action="#" id="frmAddEditState" class="form-horizontal as" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <div class="row inner">
            <div class="message"> 
            </div>
            <div class="col-md-12 ftop">
                <div class="form-group col-md-6">
                    <label for="txtStateName" class="col-sm-4 control-label">State Name&nbsp;<span class="Mandatory">(*)</span></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="txtStateName" name="txtStateName" tabindex="1" placeholder="Enter Your State Name" type="text" maxlength="50" />
                        <input id="hdnStateId" type="hidden" value="@ViewData["stateId"]" />
                        <input id="hdnAccessMode" type="hidden" value="@ViewData["accessMode"]" />
                    </div>
                </div> 
                <div class="form-group col-md-6"> 
                        <label for="txtStateCode" class="col-sm-4 control-label">State Code&nbsp;<span class="Mandatory">(*)</span></label>
                        <div class="col-sm-8">
                            <input id="txtStateCode" name="txtStateCode" tabindex="2" type="text" placeholder="Enter State Code" maxlength="50" class="form-control alpha-space-only" />
                        </div> 
                </div> 
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label for="ddlCountry" class="col-sm-4 control-label">Country&nbsp;<span class="Mandatory">(*)</span></label>
                        <div class="col-sm-8">
                            <select id="ddlCountry" name="ddlCountry" tabindex="3" class="form-control"></select>
                        </div>
                        </div>
                    </div>


                    @*<div class="form-group">
                <label for="file1" class="col-sm-4 control-label">Company Logo&nbsp;<span class="Mandatory">(*)</span></label>
                <div class="col-sm-8">
                    <input type="file" placeholder="Select Company Logo" name="file1" id="file1" />
                </div>
            </div>*@
               
            <div class="row col-sm-6 col-lg-12 col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <center>
                        <input class="btn btn-success" value="Save" alt="Save" id="btnSave" onclick="SaveData(1)" tabindex="4" type="button" border="0"> 
                        <input class="btn btn-success" value="Update" style="display:none;" alt="Update" id="btnUpdate" onclick="SaveData(2)" tabindex="4" type="button" border="0"> 
                        @*<input class="btn btn-success" type="button" id="btnReset" onclick="ClearFields()" value="Reset" tabindex="5" /> &nbsp;&nbsp;*@
                        <a class="btn btn-success" id="btnReset" href="@Url.Content("~/State/AddEditState")" tabindex="5">Reset</a>
                        @*<input class="btn btn-success" type="button" id="btnList" value="Search Company" />*@
                        <a class="btn btn-success" id="btnList" href="@Url.Content("~/State/ListState")" tabindex="6" >Search State</a>
                    </center>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="alertModel" role="dialog">
            <div class="modal-dialog  modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modelHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modelText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary  btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</section>
<script src="~/Scripts/State/AddState.js"></script>