@model List<Portal.Core.ViewModel.PICountViewModel>
@if (Model != null && Model.Count > 0)
{
    <div style="padding:10px;">
        <table class="table" id="tblBookBalanceList" style="margin-top:10px;">
            <thead style="border-top-left-radius:15px;">
                <tr style="border:none;">
                    <th style="background:#68ae00; color:#fff;width:100%;" colspan="3">PI Transaction Summary</th>

                </tr>
                <tr style="background:#fff; border:1px solid #ccc;">
                    <th>Particulars</th>
                    <th>PI Created</th>
                </tr>
            </thead>
            <tbody style="border:1px solid #ccc;">
                @foreach (var item in Model)
                {
                <tr class="success">
                    <td>@item.PICount_Head</td>
                    <td>@item.PITotalCount</td>
                </tr>
                }
            </tbody>           
        </table>
    </div>

}
else
{
    <h3 style="color:firebrick;text-align:center">PI Count not updated</h3>
}
 <script>
     var barChartData =
         {
             labels: [@Html.Raw(ViewBag.PIList)],
             datasets: [{
                 label: 'PI Transaction Summary',
                 backgroundColor: [
                     "#f990a7",
                     "#aad2ed",
                     "#9966FF",
                     "#99e5e5",
                     "#f7bd83",
                 ],
                 borderWidth: 2,
                 data: [@ViewBag.PICountList]
             }]
         };

</script> 