@model List<Portal.Core.ViewModel.POCountViewModel>
@if (Model != null && Model.Count > 0)
{
    <div style="padding:10px;">
        <table class="table" id="tblBookBalanceList" style="margin-top:10px;">
            <thead style="border-top-left-radius:15px;">
                <tr style="border:none;">
                    <th  style="background:#FC8213; color:#fff;width:100%;" colspan="3">PO Pending For MRN</th>                
                </tr>
                <tr style="background:#D0DDEC; border:1px solid #ccc;">
                    <th style="text-align:center;">PO No.</th>
                    <th style="text-align:center;">Status</th>
                </tr>
            </thead>
            <tbody style="border:1px solid #ccc;">
                @foreach (var item in Model)
                {
                <tr class="success">
                    <td>@item.PONO
                    <input type="hidden" id="hdnPOId"name="hdnPOId" value="@item.POID" /></td>
                    <td>@item.Status</td>
                </tr>
                }
                <tr>
                    <td colspan="2" align="center">
                        <a href="@Url.Content("~/PO/ListPO?pendingStatus=Pending")"> View All Pending MRN </a>
                    </td>
                </tr>
            </tbody>           
        </table>
    </div>

}
else
{
    <h3 style="color:firebrick;text-align:center">No  Pending Of MRN !!!</h3>
}
  